:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#welcome-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-gray);
}

h1{
    font-size: 60px;
    font-weight: 700;
    color: var(--main-white);
}

#welcome-section > p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

nav{
    position: fixed;
    top: 0;
    background-color: var(--main-red);
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

ul a{
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem;
    color: var(--main-white);
    cursor: pointer;
}

ul li:hover{
    background-color: var(--main-blue);
}

#projects{
    background: var(--main-blue);
    text-align: center;
    padding: 10rem 2rem;
}

#projects h2{
    max-width: 640px;
    margin: 0 auto 6rem auto;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-white);
    border-bottom: 0.2rem solid var(--main-white);
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-tile{
    text-decoration: none;
    color: var(--main-white);
}

.project-image{
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title{
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

a .project-title{
    background: var(--main-gray);
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
  }

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}